body {
    background-color: LightBlue;
}

h1 {
    font-size: 2em;
    color: white;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 6px 2px 5px black;
}

#conteneur {
    display: flex;
    justify-content: space-around;
    background-color: steelBlue;
    font-size: 2em;
    height: 2em;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

.sidenav {
    height: 71%;
    width: 200px;
    position: fixed;
    z-index: 0;
    top: 230px;
    bottom: 0;
    right: 0;
    background-color: LightSeaGreen;
    overflow-x: hidden;
    padding-top: 1px;
    margin-right: 50px;
    border-radius: 15px;
}

.sidenav a {
    padding: 90px 8px 2px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

button {
    background-color: black;
    color: white;
}

.center {
    display: block;
    position: relative;
    top: 570px;
    left: -50x;
    height: 300px;
    background: white;
    margin-left: 500px;
    margin-right: 50px;
    width: 700px;
    position: fixed;
    bottom: 1;
    left: 0;
}

.container {
    position: relative;
    top: 230px;
    left: -50x;
    height: 680px;
    background: white;
    margin-left: 100px;
    margin-right: 50px;
    width: 1502px;
    position: fixed;
    bottom: 1;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

h2 {
    font-size: 2em;
    color: black;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

p {
    font-size: 150%;
    text-align: left;
    position: relative;
    top: 135px;
    left: 100px;
    right: 550px;
}

.image {
    margin-left: 1600px;
    margin-top: 450px;
    height: 50px;
    width: 60px;
}

h4 {
    margin-left: 1600px;
    margin-top: 1px;
}